*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    height: 80px; ;
    color: white;
    text-align: center;
}

.banner{
    background-color: rgb(175, 15, 15);
    height: 300px;
color: darkgoldenrod;
text-align: center;
font-size: 40px;
}

.about{ display: flex;

}

.left{
    background-color:orchid;
    height: 300px;
    width: 50%;
    text-align: center;
    color:rgb(63, 6, 124);
    font: size 20px; ;

}

.right{background-color: antiquewhite;
    height: 300px;
width: 50%;
text-align: center;
color: black
;
font-size: 20px;

}

.feature{display: flex;

}

.First{height: 200px;
    width: 33.13%;
    background-color: blueviolet;
    text-align: center;

}

.second{height: 200px;
width: 33.13%;
background-color: crimson;
text-align: center;

}

.Third{
height: 200px;
width: 33.13%;
background-color: darkorchid;
text-align: center;

}

.ad{display: flex;

}

.left_ad{
    height: 200px;
    width: 70%;
    background-color: chartreuse;
    color: darkmagenta;
    text-align: center;

}

.right_ad{
    height: 200px;
    width: 30%;
    background-color: darkgoldenrod;
    color: crimson;
    text-align: center;

}

.slider{
    display: flex;

}

.left_slider{
    height: 200px;
    width: 40%;
    background-color: hotpink;
    color: indigo;
    text-align: center;

}

.right_slider{
    height: 200px;
    width: 60%;
    background-color: indigo;
    color: hotpink;
    text-align: center;

}

footer{
    text-align: center;
    height: 80px;
    
    background-color: aliceblue;
    color: black;
    
    font-size: 15px;

}